/* This is a custom stylesheer */
body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
}

.greetings {
}

.content {
    min-height: 400px;
}

footer {
    margin-top: 40px;
}

.error {
    color: red;
}

.read-only {
    background: #e8eaeb;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.fashion-table {
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.fashion-table tr:hover {
    background: #dfedf4;

}

table.fashion-table thead tr .header {
    background-image: url(/static/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.fashion-table thead tr .headerSortUp {
    background-image: url(/static/img/asc.gif);
}

table.fashion-table thead tr .headerSortDown {
    background-image: url(/static/img/desc.gif);
}

.fashion-table th {
    padding-right: 25px;
    text-shadow: 1px 1px 1px #fff;
    background: #e8eaeb;
    text-align: center;
    height: auto;
}

.fashion-table td {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: center;

}