
body {

    margin: 0%;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    min-height: 850px;
}

.header {
    height: 100px;
}

.logo {
    width: 150px;
    height: 100px;
    float: left;
}

#logo-img {
    margin-top: 20px;
}

.logo-label {
    width: 700px;
    height: 100px;
    float: left;
}

.flags {
    width: 110px;
    height: 100px;
    float: left;
}

.menu-main {

}

.signup-login {

}

.footer {
    padding: 20px;
    background: black;
    color: #ffffff;
    text-align: center;
}

.error {
    color: red;
}

.login-error {
    height: 36px;
    color: red;
}

.login-form {
    width: 300px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid cornflowerblue;
    padding-left: 30px;
    border-radius: 15px;
}

.carclasses {
    width: 130px;

}

.read-only {
    background: #d3d3d3;
}

.fashion-table {
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.fashion-table tr:hover {
    background: #dfedf4;

}

table.fashion-table thead tr .header {
    background-image: url(/static/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.fashion-table thead tr .headerSortUp {
    background-image: url(/static/img/asc.gif);
}

table.fashion-table thead tr .headerSortDown {
    background-image: url(/static/img/desc.gif);
}

.fashion-table th {
    padding-right: 25px;
    text-shadow: 1px 1px 1px #fff;
    background: #e8eaeb;
    text-align: center;
    height: auto;

}

.fashion-table td {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: center;

}

.btn-href {
    display: inline-block; /* Строчно-блочный элемент */
    padding: 5px 20px; /* Добавляем поля */
    text-decoration: none; /* Убираем подчёркивание у ссылки */
    cursor: pointer; /* Курсор в виде руки */
    background: #deefff; /* Фон для браузеров, не поддерживающих градиент */
    /* Градиент */
    background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deefff), color-stop(100%, #98bede));
    background: -webkit-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: -o-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: -ms-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: linear-gradient(top, #deefff 0%, #98bede 100%);
    border-radius: 10px; /* Скругляем уголки */
    border: 1px solid #008; /* Добавляем синюю рамку */
    font: 12px/1 Arial, sans-serif; /* Рубленый шрифт */
    color: #2c539e; /* Цвет текста и ссылки */
}

table.tablesorter {
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}

table.tablesorter thead tr .header {
    background-image: url(/static/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/static/img/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(/static/img/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}



